# EditorConfig is awesome: http://EditorConfig.org
root = true

[*.js]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true
end_of_line = lf


[*.md]
charset = utf-8
indent_style = space

